.col-1 {
  background-color: blue;
}

.col-5 {
  background-color: red;
}

.col-6 {
  background-color: green;
}

@media screen and (min-width: 1440px) {
  .container {
    max-width: 85%;
  }
}

.navbar {
  margin-right: 8px;
  position: relative;
  left: 0;
  top: 15px;
  float: left;
  width: 72px;
  z-index: 100;
  text-align: center;
  opacity: 1;
  visibility: visible;
}

.menu-btn {
  margin-bottom: 8px;
  position: relative;
  display: block;
  height: 72px;
  background: #ffffff;
  border-radius: 4px;
}

.menu-btn:hover {
  color: #78cc6d;
}

.btn-icon {
  margin-left: -13px;
  margin-top: -1px;
  position: absolute;
  left: 50%;
  top: 50%;
  display: block;
  width: 26px;
  height: 2px;
  background: #323232;
  transition: all 0.3s;
}

.btn-icon::before {
  content: "";
  position: absolute;
  left: 0;
  top: -8px;
  width: 80%;
  height: 100%;
  background: #323232;
  transition: all 0.3s ease 0s;
}

.btn-icon::after {
  top: auto;
  bottom: -7px;
  content: "";
  position: absolute;
  left: 0;
  width: 80%;
  height: 100%;
  background: #323232;
  transition: all 0.3s ease 0s;
}
